body {
    background: linear-gradient(to bottom, #6dd5ed, #2193b0, #6d2b90);
    min-height: 100vh; /* define altura mínima para evitar cortes de cor */
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.purple {
    color: #9933cc;
    font-weight: bold;
}

.tagline {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.brush {
    display: none;
}

#access-button {
    display: block;
    margin: 2rem auto;
    padding: 1.5rem 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
    color: #9933cc;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
